@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Emilys+Candy|Roboto+Slab");

.btn {
  margin: 1em;
  width: 10em;
  height: 3em;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid black;
  color: red;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  transition: 0.5s;
  outline: none;
}

.btn:hover {
  border: 2px solid rgb(43, 42, 42);
  color: #fff;
  background: rgb(43, 42, 42);
}
.login {
  font-family: "Cabin", sans-serif;
  text-align: center;
  /* background-image: url("./assets/o.gif");*/
  background-size: 100% 90%;
  padding: 16em;

  background-repeat: no-repeat;
}

.header {
  font-size: 32px;

  font-family: "Emilys Candy", cursive;
  color: red;
}
.footer {
  color: red;
  padding: 1 em;
}
.form-group {
  max-width: 400px;
  margin: 50px auto;

  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}
/*@media screen {
  .login {
    width: auto;
    height: 100%;
  }
}*/
